 html {
    box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }

 body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
    margin: 0;
    padding: 0;
 }

 img {
    display: block;
    max-width: 100%;
 }

 /* Стили
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif; */

 .container {
    max-width: 1110px;
    margin: 0 auto;
 }

 /* СТИЛИ ДЛЯ ТЕКСТА */

 :root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --white-color: #FFFFFF;
    --gray-color: #999999;
    --bacgground-color: #E5E5E5;
 }

 .text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
 }

 .text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
 }

 .text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.02em;
 }

 .text-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
 }

 .text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
 }

 /* HEADER */

 .header {
    min-height: 740px;
    background-image: url(../img/first_screen_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 .header__title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }

 .header__logo {
    height: 60px;
    width: 60px;
 }

 .header__burger {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .header__burgers_line {
    width: 21px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 4px;
 }

 .header__burgers_line:last-child {
    margin-bottom: 0;
 }

 .header__maintitle {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 734px;
    margin: 0 auto 17px;
 }

 .header__suptitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 734px;
    margin: 0 auto;
 }

 /* ABOUT */

 .about {
    min-height: 1080px;
    position: relative;
    padding-top: 250px;

 }

 .about__info {
    position: absolute;
    top: -150px;
    background-color: #f7f7f7;
    left: 50%;
    max-width: 1110px;
    width: 100%;
    min-height: 300px;
    transform: translateX(-50%);
    padding: 57px 130px;
 }

 .about_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;

 }

 .about-grid-item {
    text-align: center;
    width: 190px;
 }

 .about-h4 {
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 5px;
 }

 .about-h5 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
 }

 .about-p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--gray-color);
 }

 .project-h2 {
    text-align: center;
    margin-bottom: 50px;
 }

 .about-flex {
    display: flex;

 }

 .about-flex-item {
    max-width: 350px;
    margin-right: 30px;
 }

 .about-flex-item:last-child {
    margin-right: 0;
 }

 .project-img {
    margin-bottom: 45px;
 }

 .line {
    width: 55px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
 }

 .project-h3 {
    color: var(--dark-color);
    margin-bottom: 14px;
 }

 .project-p {
    color: var(--gray-color);
 }

 /* REQUEST.... */
 .request {
    background: var(--accent-color);
    margin-bottom: 145px;

    padding-top: 30px;
    padding-bottom: 40px;
 }

 .request-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .flex-left-h4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 10px;

 }


 .flex-left-h5 {

    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'Oswald', sans-serif;

 }

 .request-btn {
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    padding: 14px 30px;
    margin-top: 22px;
    cursor: pointer;
    transition: 0.5s;
 }

 .request-btn:hover {
    transform: scale(0.9);
 }

 .request-icon {
    margin-right: 15px;
 }

 /* SERVICES */

 .services {
    margin-bottom: 150px;
 }

 .services-h2 {
    text-align: center;
    margin-bottom: 55px;
 }

 .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;

 }

 .services-grid-item {
    background-color: #F7F7F7;
    width: 350px;
    padding: 59px 0;

 }

 .services-img {
    margin: 0 auto;
    margin-bottom: 21px;
    color: var(--accent-color);
 }

 .services-text-h4 {
    text-align: center;
    margin: 0 auto;
    max-width: 172px;
    text-transform: uppercase;


 }

 /* portfolio */

 .portfolio {
    margin-bottom: 157px;
 }

 .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 0;

 }

 /* question */
 .question .services-h2 {
    margin-bottom: 54px;
 }

 .question_h3 {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 32px;
    max-width: 350px;
    width: 100%;
    cursor: pointer;
    transition: color 0.5s;
 }

 .question_h3:hover {
    color: #c18989;
 }

 .question-p {
    margin-bottom: 36px;
    color: var(--gray-color);
    max-width: 730px;
 }

 .question {
    margin-bottom: 150px;
 }

 /* partners */
 .partners {
    background-color: var(--dark-color);
    padding-bottom: 100px;
    margin-bottom: 150px;
 }

 .partners_h2 {
    color: var(--bacgground-color);
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
 }

 .partners_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .partners_item {
    margin-right: 50px;
    max-width: 170px;
 }

 .partners_item:last-child {
    margin-right: 0;
 }

 /* reviews */
 .reviews {
    margin-bottom: 150px;
 }

 .reviews_text_h2 {
    text-align: center;
    margin-bottom: 60px;
 }

 .reviews_grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
 }


 .reviews_card {
    background-color: #F7F7F7;
    padding: 30px;
    margin-bottom: 30px;
 }

 .reviews_quotes {
    font-size: 96px;
    color: var(--accent-color);
    line-height: 1;
    margin-bottom: -43px;
 }

 .text_reviews_h4 span {
    color: var(--accent-color);
 }


 /* contacts */
 .contacts {
    padding: 100px 0 150px;
 }

 .contacts_h2 {
    text-align: center;
    margin-bottom: 60px;
 }

 .contacts_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
 }

 .contacts_grid_item {
    max-width: 255px;
    text-align: center;
 }

 .grid-item-logo {
    width: 50px;
    height: 50px;
    margin: 0 auto 13px;
 }

 .grid-item-h3 {
    margin-bottom: 25px;
    color: var(--gray-color);
    text-transform: uppercase;
 }

 .grid-item-h3-black a {
    text-decoration: none;
    color: inherit;
 }

 /* footer */
 .footer {
    background-color: var(--dark-color);
    padding: 30px 0;

 }

 .footer-flex {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);

 }

 /* media */
 @media screen and (max-width:1280px) {
    .header__title {
       padding: 15px;
    }

    .footer {
       padding: 30px 15px;
    }

    .about_grid {
       grid-template-rows: repeat(2, 1fr);
       grid-template-columns: repeat(2, 1fr);
    }

    .about {
       padding: 450px 0px 110px 0px;
    }

    .request-flex {
       flex-direction: column;
    }

    .request-btn {
       margin-top: 35px;
    }

    .services-grid {
       grid-template-rows: repeat(3, 1fr);
       grid-template-columns: repeat(2, 1fr);
       gap: 20px;
    }

    .services {
       padding-left: 10px;
       padding-right: 10px;
    }

    .services-grid-item {
       width: 100%;
    }

    .portfolio-grid {
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(4, 1fr);
    }

    .portfolio-img {
       width: 550px;
    }

    .question {
       padding: 50px 15px;
       margin-bottom: 100px;
    }

    .partners_flex {
       justify-content: center;
    }

    .reviews {
       padding: 0 15px;
    }

    .reviews_grid {
       grid-template-columns: repeat(2, 1fr);
    }

    .contacts_grid {
       grid-template-columns: repeat(2, 1fr);
    }

    .contacts_grid_item {
       max-width: 100%;
    }

 }

 @media screen and (max-width:779px) {
    .footer-flex {
       flex-direction: column;
       text-align: center;
    }

    .header__maintitle {
       font-size: 54px;
    }

    .about_grid {
       grid-template-rows: repeat(4, 1fr);
       grid-template-columns: repeat(1, 1fr);
       padding-bottom: 15px;
    }

    .about__info {
       position: relative;
       padding: 0px;
    }

    .about {
       padding-top: 150px;
       padding-bottom: 80px;
    }

    .about-flex {
       flex-direction: column;
       align-items: center;
    }

    .about-flex-item {
       margin-right: 0px;
       margin-bottom: 30px;
    }

    .about-flex-item:last-child {
       margin-bottom: 0;
    }

    .project-h2 {
       font-size: 34px;
    }

    .flex-left-h4 {
       font-size: 44px;
       text-align: center;
    }

    .flex-left-h5 {
       text-align: center;
    }

    .services-grid {
       grid-template-rows: repeat(4, 1fr);
       grid-template-columns: repeat(1, 1fr);
       padding-bottom: 15px;
    }

    .portfolio-grid {
       grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-item {
       margin-bottom: 5px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .question_h3 {
       font-size: 22px;
    }

    .partners_flex {
       display: block;
    }

    .partners_item {
       margin: 0 auto;
       margin-bottom: 35px;

    }

    .partners_item:last-child {
       margin: 0 auto;
    }

    .reviews_grid {
       grid-template-columns: repeat(1, 1fr);
    }

    .reviews_card {
       margin-bottom: 5px;
    }

    .contacts_grid {
       grid-template-columns: repeat(1, 1fr);
    }

    .contacts_grid_item {
       max-width: 100%;
    }

    .grid-item-h3-black {
       font-size: 25px;
    }
 }

 @media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
       -webkit-transform: translateX(-105%);
       transform: translateX(-105%);
    }

    .sidenav.sidenav-fixed.right-aligned {
       -webkit-transform: translateX(105%);
       transform: translateX(105%);
    }

    .sidenav>a {
       padding: 0 16px;
    }

    .sidenav .user-view {
       padding: 16px 16px 0;
    }
 }

 /* MENU */
 .z-depth-1,
 nav,
 .card-panel,
 .card,
 .toast,
 .btn,
 .btn-large,
 .btn-small,
 .btn-floating,
 .dropdown-content,
 .collapsible,
 .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
 }

 .sidenav span.badge {
    margin-top: calc(24px - 11px);
 }

 .sidenav .collapsible,
 .sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
 }

 .sidenav .collapsible li,
 .sidenav.fixed .collapsible li {
    padding: 0;
 }

 .sidenav .collapsible-header,
 .sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
 }

 .sidenav .collapsible-header:hover,
 .sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
 }

 .sidenav .collapsible-header i,
 .sidenav.fixed .collapsible-header i {
    line-height: inherit;
 }

 .sidenav .collapsible-body,
 .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
 }

 .sidenav .collapsible-body li a,
 .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
 }

 .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
 }

 .sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
 }

 .sidenav .collapsible {
    margin: 0;
 }

 .sidenav li {
    float: none;
    line-height: 48px;
 }

 .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
 }

 .sidenav li>a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
 }

 .sidenav li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
 }

 .sidenav li>a.btn,
 .sidenav li>a.btn-large,
 .sidenav li>a.btn-small,
 .sidenav li>a.btn-large,
 .sidenav li>a.btn-flat,
 .sidenav li>a.btn-floating {
    margin: 10px 15px;
 }

 .sidenav li>a.btn,
 .sidenav li>a.btn-large,
 .sidenav li>a.btn-small,
 .sidenav li>a.btn-large,
 .sidenav li>a.btn-floating {
    color: #fff;
 }

 .sidenav li>a.btn-flat {
    color: #343434;
 }

 .sidenav li>a.btn:hover,
 .sidenav li>a.btn-large:hover,
 .sidenav li>a.btn-small:hover,
 .sidenav li>a.btn-large:hover {
    background-color: #2bbbad;
 }

 .sidenav li>a.btn-floating:hover {
    background-color: #26a69a;
 }

 .sidenav li>a>i,
 .sidenav li>a>[class^="mdi-"],
 .sidenav li>a li>a>[class*="mdi-"],
 .sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
 }

 .sidenav .divider {
    margin: 8px 0 0 0;
 }

 .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
 }

 .sidenav .subheader:hover {
    background-color: transparent;
 }

 .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
 }

 .sidenav .user-view>a {
    height: auto;
    padding: 0;
 }

 .sidenav .user-view>a:hover {
    background-color: transparent;
 }

 .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
 }

 .sidenav .user-view .circle,
 .sidenav .user-view .name,
 .sidenav .user-view .email {
    display: block;
 }

 .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
 }

 .sidenav .user-view .name,
 .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
 }

 .sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
 }

 .sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
 }


 .sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
 }

 .sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
 }



 .sidenav .collapsible-body>ul:not(.collapsible)>li.active,
 .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #ee6e73;
 }

 .sidenav .collapsible-body>ul:not(.collapsible)>li.active a,
 .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a {
    color: #fff;
 }

 .sidenav .collapsible-body {
    padding: 0;
 }

 .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
 }

 .material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
 }

 nav .brand-logo i,
 nav .brand-logo [class^="mdi-"],
 nav .brand-logo [class*="mdi-"],
 nav .brand-logo i.material-icons {
    float: left;
    margin-right: 15px;
 }

 nav i,
 nav [class^="mdi-"],
 nav [class*="mdi-"],
 nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
 }

 nav ul a.btn>.material-icons,
 nav ul a.btn-large>.material-icons,
 nav ul a.btn-small>.material-icons,
 nav ul a.btn-large>.material-icons,
 nav ul a.btn-flat>.material-icons,
 nav ul a.btn-floating>.material-icons {
    height: inherit;
    line-height: inherit;
 }

 ul#slide-out :not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
 }

ul#slide-out :not(.browser-default)>li {
    list-style-type: none;
 }

 #slide-out a {
    color:var(--dark-color);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
 }
 .divider {
   height: 1px;
   overflow: hidden;
   background-color: #e0e0e0;
 }
 
